body {
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}

#my-form {
    background-color: white;
    width: 600px;
    border-radius: 20px;
    height: 650px;

    margin: auto;
    margin-top: 120px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}


.button{
    margin-top: 50px;
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .button:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .button:active {
    top: 1px;
  }

  input {
    border-radius: 15px;
    width: 300px;
    height: 40px;
    padding: 10px;
  }

  label {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }

  .error {
    background-color: rgb(255, 96, 96);
    color: white;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    text-align: center;
    width: 300px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
  }
  
  ul {
    background-color: white;
    list-style-type: none;
    width: 550px;
    border-radius: 20px;
    margin-top: 50px;
    padding: auto;

    text-align: center;
  }

  li {
    padding: 10px;
  }
